header{
	margin-top:0px;
}
body{
	background-color: #E8EAF6;
}

header, main, footer{
	z-index:0;
}
a {
  color: #E8EAF6;
  padding:0px;
  margin: 0px;
}
a:link, a:visited{	
	color: #E8EAF6;
	text-decoration: none;
}
.left-bar{
/*	padding-left: 2%;
	
	padding-right: 2%;*/
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #3F51B5;
	height:100%;
	width:18%;
	box-shadow: 2px 0px 10px #888888;
	text-decoration: none;
	color: #E8EAF6;
}
.title{
	color: #3F51B5;
	font-size: 3em;
	margin-bottom: 50px;
}
h4{
	padding-left: 10px;
}
i{
	padding:5px;
}
.logout{
	margin-top:160%;
	bottom: 0px;
	text-align: center;
}
.logout:hover{
	text-align: center;
	background-color: #E8EAF6;
	color: #3F51B5;

}
.add-button{
	text-align: left;
	padding-left: 20px;
	border-bottom: 2px solid #c5cae9;
}
.add-button:hover{
	text-align: left;
	padding-left: 20px;
	color: #3F51B5;
	background-color: #E8EAF6;
	border-bottom: 2px solid #3F51B5;;
}
.left-buttons{
	color: #E8EAF6;
	text-align: center;
}
.content{
	z-index: 0;
	padding-left: 4%;
	width: 82%;
	background-color: #E8EAF6;
	float: right;
}
.form-event{
	padding-left:15%;
}
input.user{
	background: transparent;
	height: 50px;
	width: 500px;
	font-size: 1.5em;
	color: #3F51B5;
	text-align: left;
	border: 2px solid #3F51B5;
	border-radius: 2px;
	margin: 10px;
}
input.file{
	background: transparent;
	height: 50px;
	width: 500px;
	font-size: 1.5em;
	color: #3F51B5;
	text-align: left;
	border: 2px solid #3F51B5;
	border-radius: 2px;
	margin: 10px;
	margin-bottom: 50px;
}
.custom-file-upload{
	background: transparent;
	height: 50px;
	width: 500px;
	font-size: 1.5em;
	color: #3F51B5;
	text-align: left;
	border: 2px solid #3F51B5;
	border-radius: 2px;
	margin: 10px;
}
input.description{
	background: transparent;
	height: 200px;
	width: 500px;
	font-size: 1em;
	color: #3F51B5;
	text-align: left;
	border: 2px solid #3F51B5;
	border-radius: 2px;
	margin: 10px;

}
input.description::placeholder{
	background: transparent;
	height: 200px;
	width: 500px;
	font-size: 1em;
	color: #3F51B5;
	text-align: left;
	border: 2px solid #3F51B5;
	border-radius: 2px;
	margin: 10px;

}
input.date{
	position: absolute;
	bottom: 0;
	left: 0;
	background: transparent;
	height: 50px;
	width: 200px;
	font-size: 1em;
	color: #3F51B5;
	text-align: left;
	border: 2px solid #3F51B5;
	border-radius: 2px;
	margin: 10px;
}
input.user::placeholder{
	height: 50px;
	width: 300px;
	font-size: 1.5em;
	color:#3F51B5;
	text-align: left;
	border: 2px solid #3F51B5;
	border-radius: 2px;
	margin: 10px;
}
select{
	position: absolute;
	bottom: 0;
	right: 0;
	background: transparent;
	margin-left: 10px;
	height: 50px;
	width: 200px;
	font-size: 1em;
	color: #3F51B5;
	text-align: left;
	border: 2px solid #3F51B5;
	border-radius: 2px;
	margin-bottom: 10px;
}
option{
	background: transparent;
	height: 50px;
	width: 200px;
	font-size: 1em;
	color: #3F51B5;
	text-align: left;
	border: 2px solid #3F51B5;
	border-radius: 2px;
	margin: 10px;
}
input.user::-webkit-input-placeholder{
	color:#3F51B5;
}
input.user::-webkit-input-placeholder {
   color: #3F51B5;
   position:relative;
   padding-left:0;
    -webkit-transition: padding 0.5s; /* For Safari 3.1 to 6.0 */
    transition: padding 0.5s;
}
.tags{
	color: #3F51B5;

}
.tags-rigth{

	color: #3F51B5;
}
.combobox{
	position: relative;
	width: 500px;
	height: 100px;
	border-bottom: 2px solid #3F51B5;

}
.left{
	position: absolute;
	left:0;
	top: 0;
}
.rigth{
	position: absolute;
	right: 0;
	top: 0;
}

button.send-data{
	position: fixed;
	box-shadow: 2px 0px 10px #888888;
	right: 0;
	bottom: 0;
	background: #3F51B5;
	height: 50px;
	width: 250px;
	font-size: 2em;
	color:#E8EAF6;
	text-align: center;
	border-radius: 10px;
	margin: 10px;
}
button.send-data:active{
	position: fixed;
	box-shadow: 2px 0px 10px #888888;
	right: 0;
	bottom: 0;
	background: #3F51B5;
	height: 50px;
	width: 250px;
	font-size: 2em;
	color:#E8EAF6;
	text-align: center;
	border-radius: 10px;
	margin: 10px;
}
