extends layout
block content
	header
		.nav-stacked.left-bar
			a(href='/dashboard')
				.add-button
					h2.left-buttons
					i.fa.fa-plus.fa-2x &nbsp; Place
			a(href='/dashboard/rooms')
				.add-button
					h2.left-buttons
					i.fa.fa-plus.fa-2x &nbsp; Room
			a(href='/dashboard/events')
				.add-button
					h2.left-buttons
					i.fa.fa-plus.fa-2x &nbsp; Event
			a(href='/dashboard/activities')
				.add-button
					h2.left-buttons
					i.fa.fa-plus.fa-2x &nbsp; Activity
			a(href='/')
				.logout
					h2.left-buttons  
					i.fa.fa-sign-out.fa-2x  &nbsp; Logout
		block form