html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')        
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
		//- link(href='/stylesheets/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')   
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/dashboard.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		script(src='https://code.jquery.com/jquery-2.1.1.min.js')
		script(src='jquery.fullscreen-popup.js')
		script(src='javascripts/function.js')
		title Beacon Event
	body
		header
			.nav-stacked.left-bar
				a(href='/')
					.add-button
						h4.left-buttons Add Event
				a(href='/')
					.add-button
						h4.left-buttons Add Event
				a(href='/')
					.logout
						h4.left-buttons  Add Event
			.content


