html5
	head
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		script(src='https://code.jquery.com/jquery-2.1.1.min.js')
		script(src='jquery.fullscreen-popup.js')
		script(src='/javascripts/function.js')
		link(rel='icon' href='images/favicon.png')
		title Beavent
	body
		header.container-fluid.introduction
			a(href='#popup' id='openPopup' data-rel='popup' data-transition='pop')
				.col-md-1.login.login
					h3 Login 
			script.
				$('#openPopup').click(function(){
					$('#popup').show("slow", function(){
						$('#header').css("-animation-name: down; animation-time: 15s;");
						$('#popup').css("-animation-name: over;");
						});
					});
				$('#close').click(function(){
					$('#popup').hide("slow", function(){
						$('#header').css("animation-name: '';");
						});
					});
			.logo-beavent
			.col-md-8
				h3.subtitle Beavent connect people with events near them and shows the information about the place where its going on, the activities as its schedule and all of this, using beacons tecnology by Qualcomm. We used beacons because with them we can send notifications to any smartphone in a radio of approximate 50m and because its quite cheap to buy beacons. 
			a(href='#down')
				.drop-down
					i.fa.fa-angle-down.fa-5x.ligth
		main.container-fluid.describe(id='down')
			.row.center
				.col-md-4
					i.fa.fa-map-marker.fa-5x.landing-color
					h2.information Descubre
					h4.landing-color Lugares con los eventos en los que quieres estar.

				.col-md-4
					i.fa.fa-mobile.fa-5x.landing-color
					h2.information Explora
					h4.landing-color Deja que tu smart-phone te guíe a los mejores eventos con las mejores personalidades.

				.col-md-4
					i.fa.fa-users.fa-5x.landing-color
					h2.information Conoce
					h4.landing-color Haz networking con personas con las que tienes gustos en común.
		.container-fluid.phrase.center
				h1.title2 Descubre la experiencia de usar Beavent.
				a(href='/dashboard')
					.button-login Entra ahora
		.open-popup(id='popup' data-role='popup')
			a(href='#close' id='close')
				.col-md-1.login.login
					i.fa.fa-times.fa-2x.ligth
			.col-md-4.form
				.logo-beavent2
				h1.title2 Sign In
				p.ligth Unete a esta maravillosa aventura.
				form(action='/dashboard' method='POST')
						input.user(type='text' name='email' placeholder='Email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'")
						input.user(type='password' name='password' placeholder='Password' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'")
						button.login-button(type='submit' name='action') Sign In
			//- .col-md-4.form
			//- 	h1.title Sing Up
			//- 	form(action='/login' method='POST')
			//- 			input.user(type='text' name='email' placeholder='Email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'")
			//- 			input.user(type='password' name='password' placeholder='Password' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'")
			//- 			input.user(type='password' name='password' placeholder='Confirm Password' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'")
			//- 			button.login-button(type='submit' name='action') Sing Up
