extends dashboard
block form
	.content
		h1.title Add new Place
		.form-event(id='place')
			form
				.fisrt
					h4.tags Nombre del lugar
					input.user(id='name-id' type='text' name='name' placeholder='Nombre...' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nombre...'")
					h4.tags Beacon Factory ID
					input.user(id='beacon-id' type='text' name='name' placeholder='ID...' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Id...'")
					button.send-data(id='send-place-button' type='submit' name='action') 
						i.fa.fa-send.fa-1x &nbsp; Crear
